/* classes
    oursupports
    oursupportstitle
    supportimg
*/

/* 
aboutuswhocontainer
aboutuswhocontainer1
aboutuswhocontainer1box1
aboutuswhocontainer1box2
aboutuswhocontainer2
aboutuswhocontainer2img
*/

.aboutuswhocontainer{
    border: var(--measure);
    background-color: #f5fafe;
    padding: 40px;
}

.aboutuswhocontainer1{
    border: var(--measure);
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: space-between;
}

.aboutuswhocontainer1box1{
    border: var(--measure);
    width: 100%;
    max-width: 40%;
}

.aboutuswhocontainer1box1text{
    border: var(--measure);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.aboutuswhocontainer1box2{
    border: var(--measure);
    width: 100%;
    max-width: 50%;
}

.aboutuswhocontainer1box2text{
    border: var(--measure);
    font-size: 24px;
    font-weight: 500;
}

.aboutuswhocontainer2{
    border: var(--measure);
    width: 100%;
    max-width: 50%;
    margin: auto;
    margin-top: 100px;
}

.aboutuswhocontainer2img{
    border: var(--measure);
    width: 600px;
    height: 400px;
}

/* 
aboutimpactcontainer
aboutimpactcontainertitle
aboutimpactcontainertitletext
aboutimpactcontainerstat
aboutimpactcontainerstat1
aboutimpactcontainerstat1stat
aboutimpactcontainerstat1text
*/

.aboutimpactcontainer{
    border: var(--measure);
    background-color: #f5fafe;
    padding: 40px;
}

.aboutimpactcontainertitle{
    border: var(--measure);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 90px;

}

.aboutimpactcontainertitletext{
    border: var(--measure);
}

.aboutimpactcontainerstat{
    border: var(--measure);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.aboutimpactcontainerstat1{
    border: var(--measure);
}

.aboutimpactcontainerstat1stat{
    border: var(--measure);
    font-weight: bold;
    font-size: 40px;
}

.aboutimpactcontainerstat1text{
    border: var(--measure);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.aboutcontactform{
    border: var(--measure);
    background-color: #f5fafe;
    padding: 40px;
}

.aboutcontactformtext{
    border: var(--measure);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
