/* classes
    cards-howitworks
    cards-firstcolumn
    cards-firstcolumn-title
    cards-firstcolumn-header
    cards-firstcolumn-text
    class-firstcolumn-button
    cards-secondcolumn
    cards-container
    cards-cardicon
    cards-cardtitle
    cards=cardtext
    cards-thirdcolumn
    cards-cardscontainer
*/

.cards-howitworks{
    border: var(--measure);
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards-firstcolumn{
    border: var(--measure);
    width: 60%;
    margin-top: 10%;
    padding: 80px;
    text-align: start;
}

.cards-firstcolumn-title{
    text-transform: uppercase;
    border: var(--measure);
    font-weight: bold;
    font-size: 24px;
}

.cards-firstcolumn-header{
    font-size: 16px;
    border: var(--measure);
    margin-top: 10px;
}

.cards-firstcolumn-text{
    font-size: 10px;
    border: var(--measure);
    margin-top: 10px;
}

.class-firstcolumn-button{
    margin-top: 10px;
    border: var(--measure);
}

.class-firstcolumn-button-1{
    padding: 8px 14px;
    background: transparent;
    border: 2px solid green;
    border-radius: 20px;
    margin-left: 100px ;
    cursor: pointer;
}

.class-firstcolumn-button-1:hover{
    background: green;
    color: white;
}

.cards-secondcolumn{
    border: var(--measure);
    width: 20%;
    padding: 10px;
}

.cards-cardscontainer{
    border: var(--measure);
    width: 160px;
    border: 2px solid whitesmoke;
    box-shadow: 24px 18px 11px -5px rgba(0,0,0,0.3);
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
}

.cards-cardscontainer:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba(#000, 0.2);
    transform: scale(1.05);
    transition: box-shadow 0.2s ease,
                transform 0.2s ease,
                z-index 0s 0s ease;
  }

.cards-cardicon{
    font-size: 50px;
    margin-left: 33px;
    border: var(--measure);
    margin-bottom: 10px;
}

.cards-cardtitle{
    text-align: center;
    border: var(--measure);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cards-cardtext{
    border: var(--measure);
    font-size: 8px;
    margin-bottom: 10px;
}


.cards-thirdcolumn{
    border: var(--measure);
    width: 20%;
    padding: 10px;
    margin-top: 10%;
    margin-left: 4%;
}