/*  classnames
cards-whyht
cards-whyht-title
cards-rows
cards-whyht-rowone
cards-whyht-rowone-card
cards-whyht-row-cardicon
cards-whyht-row-cardtitle
cards-whyht-row-cardtext
cards-whyht-rowtwo
cards-whyht-rowtwo-card
 */
   .programnavbarli {
      list-style-type: none;
   }
  
  .program-nav-link{
      text-decoration: none;
      color: black;
  }

  .program-nav-link:hover{
   color: #f10313ad;
}

 .cards-whyht{
    border: var(--measure);
    width: 100%;
    max-width: 80%;
    /* background-color: grey; */
 }

 .cards-whyht-title{
    border: var(--measure);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
 }

 .cards-rows{
    border: var(--measure);
    display: flex;
    flex-direction: row;
    margin: auto;
 }

 .cards-whyht-rowone{
    border: var(--measure);
 }

 .cards-whyht-rowone-card{
    border: var(--measure);
    width: 230px;
    margin-bottom: 25px;
    padding: 25px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 24px 18px 11px -5px rgba(0,0,0,0.3);
 } 

 .cards-whyht-row-cardtitle-type{
     font-size: 10px;
     text-align: center;
     margin-top: 5px;
     font-weight: bold;
 }

 .cards-whyht-rowone-card:hover{
   z-index: 1;
   box-shadow: 0 8px 50px rgba(#000, 0.2);
   transform: scale(1.05);
   transition: box-shadow 0.2s ease,
               transform 0.2s ease,
               z-index 0s 0s ease;
 }

 .cards-whyht-row-cardicon{
    border: var(--measure);
    font-size: 100px;
    margin-left: 25px;
 }

.cards-whyht-row-cardtitle{
    border: var(--measure);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.cards-whyht-row-cardtext{
    border: var(--measure);
    font-size: 12px;
}

.trainer-cards-rows{
    border: var(--measure);
    display: flex;
    flex-direction: row;
    margin: auto;
}

 .tutorprofile-card-text{
   border: var(--measure);
   max-width: 230px;
   width: 100%;
   /* background-color: grey; */
 }

 .tutorprofile-card-lists{
   border: var(--measure);
   text-decoration: none;
   list-style: none;
   font-size: 10px;
 }

 .tutorprofile-listnames{
    text-decoration: none;
    border: var(--measure);
    font-size: 12px;
 }

 