* {
  /* --block-color: magenta */
  /* #d4101c teacherr color */
}

.app {
  background-image: url('bgm.svg');
  border: 2px solid var(--block-color);
}



.mainlogo{
  border: 2px solid var(--block-color);
  width: 25%;
  margin-left: 37%;
  margin-top: 20px;
}

.maintitle {
  border: 2px solid var(--block-color);
  padding-top: 2em;
  margin-bottom: 10px;
  text-align: center;
  font-size: 60px;
}
  
.subtitle {
  border: 2px solid var(--block-color);
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
}

.description {
  border: 2px solid var(--block-color);
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.container {
  border: 2px solid var(--block-color);
  border-radius: 20px;
  background-color:rgba(255,250,250, 0.7);
  margin: auto;
  margin-top: 25px;
  padding: 15px;
  width: 80%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.detailssplit{
  border: 2px solid var(--block-color);
  display: flex;
  flex-direction: row;
}

.detailssplitdata{
  border: 2px solid var(--block-color);
}

.detailssplitimg{
  border: 2px solid var(--block-color);
  margin-left: 60px;
}

.detailsimg{
  border: 2px solid var(--block-color);
  width: 100px;
}

.details{
  border: 2px solid var(--block-color);
  list-style: none;
  width: 400px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 35px;
  margin-bottom: 10px;
  padding: 10px;
  background: rgba(212, 16, 28, 0.06);
  box-shadow: 24px 18px 11px -5px rgba(0,0,0,0.1);
  border-radius: 20px;
}

.detailtitle{
  font-weight:bold;
}

.detailtitlelist{
  margin-top: 5px;
}

.form{
  border: 2px solid var(--block-color);
  width: 40%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.formsubject{
  border: 2px solid #d4101c;
  border-radius: 20px;
  padding: 20px 90px;
  background: white;
}

.formsubject::placeholder{
  font-size: 12px;
}

.formdivision{
  border: 2px solid #d4101c;
  border-radius: 20px;
  padding: 20px 90px;
  background: white;
  align-items: center;
}

.detailtitlelistlink{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #d4101c;
  border-radius: 20px;
  width: 60%;
  padding: 10px 15px;
  cursor: pointer;
  color: black;
}

.link{
  text-decoration: none;
  color: black;
}

.detailtitlelistlink:hover{
  background: #d4101c;
  color: white;
}

small {
  margin-left: 45%;
  font-size: 8px;
}

@media screen and (max-width: 1170px) {

  .form{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .formsubject{
    border: 2px solid #d4101c;
    border-radius: 20px;
    padding: 20px 60px;
    background: white;
    margin-bottom: 10px;
  }
  
  .formdivision{
    border: 2px solid #d4101c;
    border-radius: 20px;
    padding: 20px 60px;
    background: white; 
  }

  .details{
    margin-bottom: 10px;
  }
  

}


/* ------------------------------------------------------ */
/* In mobile */
/* ------------------------------------------------------ */
@media screen and (max-width: 1050px) {
  
  .maintitle {
    font-size: 40px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
    
  .subtitle {
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
    
  .description {
    font-size: 12px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  
  .container{
    display: grid;
    grid-template-columns: 1fr;
  }

  .form{
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .formsubject{
    border: 2px solid #d4101c;
    border-radius: 20px;
    padding: 20px 60px;
    background: white;
    margin-bottom: 10px;
  }
  
  .formdivision{
    border: 2px solid #d4101c;
    border-radius: 20px;
    padding: 20px 60px;
    background: white;
  }

  .details{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .detailssplitdata{
    border: 2px solid var(--block-color);
    width: 60%;
  }
  
  .detailssplitimg{
    border: 2px solid var(--block-color);
    width: 40%;
  }

  .detailtitlelist{
    font-size: 16px;
  }

}

@media screen and (max-width: 520px) {

  .maintitle {
    font-size: 37px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
  }
    
  .subtitle {
    font-size: 16px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
  }
    
  .description {
    font-size: 12px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
  }
  
  .container{
    display: grid;
    grid-template-columns: 1fr;
  }

  .details{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }

  .detailssplit{
    display: flex;
    flex-direction: column;
  }
  
  .detailsimg{
    border: 2px solid var(--block-color);
    width: 100%;
    margin-bottom: 5px;
  }

  .detailssplitdata{
    width: 100%;
    margin-top: 5px;
    order: 2;
  }

  .detailtitlelist{
    font-size: 14px;
  }

  .form{
    width: 100%;

  }
  
  .formsubject{
    border: 2px solid #d4101c;
    border-radius: 20px;
    padding: 20px 50px;
    background: white;
    margin-bottom: 10px;
  }
  
  .formdivision{
    border: 2px solid #d4101c;
    border-radius: 20px;
    padding: 20px 50px;
    background: white;
  }

  
}