/* classes
    oursupports
    oursupportstitle
    supportimg
*/

.support{
    border: var(--measure);
    display: flex;
    width: 70%;
    margin: auto;
}


.supportimgone{
    border: var(--measure);
    width: 300px;
    height: 300px;
}

.supportimg{
    border: var(--measure);
    width: 190px;
    height: 80px;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 20px;
    padding: 10px;
}

.oursupports{
    border: var(--measure);
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 20px;
}

.oursupportstitle{
    border: var(--measure);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.oursupportslogos{
    border: var(--measure);
    width: 35%;
    margin: auto;
    /* display: flex; */
    /* margin-left: 150px; */
}

.oursupportslogo{
    border: var(--measure);
}

.oursupportslogo h6 {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

/* Collaboration */

.collab{
    border: var(--measure);
    width: 60%;
    margin: auto;
    display: flex;
    margin-top: 30px;
}

.collabpic{
    border: var(--measure);
}

.collabimgone{
    border: var(--measure);
    width: 300px;
    height: 300px;
}

.collabtwo{
    border: var(--measure);
    width: 40%;
    margin: auto;
}

.collabtitle{
    border: var(--measure);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.collablogo{
    border: var(--measure);
    margin-left: 80px;
}

.collabteacherrlogo{
    border: var(--measure);
    width: 190px;
    height: 80px;
}

.teacherr{
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
    color: #D40F1C;
}

.accordian{
    width: 100%;
    max-width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.accordianquestion{
    text-decoration: none;
    font-style: unset;
    color: black;
}

.aboutusfaq{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}