/* 
classes
Hero
hero-illustration
hero-content
hero-content-container
hero-content-title
hero-content-text
hero-content-button
hero-content-button-1
hero-content-button-2 */

img{
    width: 650px;
    height: 650px;
}

.hero {
    border: var(--measure);
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: #f5fafe;
}

.hero-illustration{
    border: var(--measure);
    margin-left: 15%;
}

.hero-content{
    border: var(--measure);
    margin-left: 5%;
}

.hero-content-container{
    border: var(--measure);
    margin-top: 25%;
}

.hero-content-title {
    border: var(--measure);
    font-size: 40px;
    font-weight: bold;
    text-align: start;
}

.hero-content-text{
    border: var(--measure);
    margin-top: 30px;
    font-size: 20px;
    text-align: start;
    font-weight: 600;
}

.hero-content-button{
    border: var(--measure);
    margin-top: 20px;
    text-align: start;
}

.hero-content-button-1{
    background: #07957d;
    border: 2px solid green;
    padding: 15px;
    color: white;
    font-weight: bold;
    width: 280px;
    border-radius: 25px;
    cursor: pointer;
}

/* .hero-content-button-2{
    margin-left: 20px;
    background: transparent;
    border: 2px solid green;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
} */

.hero-content-button-2:hover,  
.hero-content-button-1:hover{
    background: white;
    color: #07957d;
}

.hero-content-last{
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;

}

.reversehero{
    border: var(--measure);
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 30px;
    background-color: #f5fafe;
}

.reversehero-content{
    border: var(--measure);
    width: 100%;
    max-width: 40%;
}

.reversehero-content-container{
    border: var(--measure);
    margin-top: 25%;
}

.reversehero-illustration{
    border: var(--measure);
    margin-left: 10%;
}

.reversehero-content-title1{
    border: var(--measure);
    font-size: 40px;
    font-weight: bold;
    text-align: start;
}

.reversehero-content-title2{
    border: var(--measure);
    font-size: 30px;
    font-weight: bold;
    text-align: start;
}

.reversehero-content-title3{
    border: var(--measure);
    font-size: 30px;
    font-weight: bold;
    text-align: start;
}

.reversehero-content-text{
    border: var(--measure);
    font-size: 20px;
    font-weight: 500;
    text-align: start;
}