
  /* 
  programdown-nav-links
  programdown-cards-whyht
  programdown-cards-rows
  programdownnavbarli
  programdown-nav-link
  programdown-cards
  programdown-card
  programdown-cards-cardicon
  programdown-cards-cardtitle
  programdown-cards-cardtext
  */
  
  .programdown-nav-links{
    border: var(--measure);
  }

  .programdown-cards-whyht{
    border: var(--measure);
  }

  .programdown-cards-rows{
    border: var(--measure);
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
  }

  .programdownnavbarli{
    width: 100%;
    max-width: 300px;
    background-color: #f3f3f3;
    border-radius: 20px;
    margin: 10px;
    text-decoration: none;
  }

  .programdown-nav-link{
    border: var(--measure);
    text-decoration: none;
  }

  .programdown-nav-link:hover{
    text-decoration: none;
  }

  .programdown-cards{
    border: var(--measure);
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: black;
  }

  .programdown-cards:hover{
    text-decoration: none;
  }

  .programdown-cards-cardicon{
    border: var(--measure);
    text-decoration: none;
    font-size: 90px;
    margin-bottom: 5px;
  }

  .programdown-cards-cardtitle{
    border: var(--measure);
    font-size: 12px;
    font-weight: bold;
  }

.programdown-cards-cardtext{
  border: var(--measure);
  font-weight: 700;
  font-size: 10px;
}


  
  
  body {
    background: #fff;
  }
  
  .container {
    display: flex;
    border: var(--measure);
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 350px;
    background: #f1f1f1;
    margin: 50px auto 50px;
    word-break: break-all;
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(65, 29, 29, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
    font-weight: bold;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(241, 88, 113);
  }
    
  button {
    border: none;
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }